<!-- @foreach ($results as $result)

            <div class="col-md-4 col-sm-6">
                <div class="card mb-4 box-shadow">
                    <div class="thumbnail">
                      
                            <h4 class="card-title">{{ $result['id'] }}</h4>

                            <p>{{ $result['post_code'] }}</p>
                        </div>

                        <ul class="list-group list-group-flush">
                           
                          
                            <li class="list-group-item">   <i class="fa fa-calendar" aria-hidden="true"></i> {{ $result['phone_number'] }}</li>
                        </ul>

                    </div>
                </div>
            
@endforeach -->